* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Outfit", sans-serif;
  --primary-color: hsl(218, 44%, 22%);
  --secondary-color: hsl(212, 45%, 89%);
  --third-color: hsl(216, 15%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card {
  background-color: var(--white);
  width: 20rem;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card img {
  max-width: 100%;
  border-radius: 1rem;
}

.card-content {
  padding: 0 .5rem 1rem;
}

.card-content h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.card-content p {
  color: var(--third-color);
}